#ifndef __USB_${idSnakeCase}$_H__
#define __USB_${idSnakeCase}$_H__

/*******************************************************************************
 * API
 ******************************************************************************/
 
#if defined(__cplusplus)
extern "C" {
#endif
void USB_Device${idCamelCase}$Task(void);
#if defined(__cplusplus)
}
#endif
#endif /* __USB_${idSnakeCase}$_H__ */
