#ifndef USB_DEVICE_${idSnakeCase}$_H_
#define USB_DEVICE_${idSnakeCase}$_H_

/*!
 * @brief Interface task function.
 */
void USB_Device${idCamelCase}$Task();

#endif /* USB_DEVICE_${idSnakeCase}$_H_ */
