#ifndef __USB_DEVICE_${idSnakeCase}$_H__
#define __USB_DEVICE_${idSnakeCase}$_H__

/*******************************************************************************
 * Definitions
 ******************************************************************************/

/*!
 * @brief Interface task function.
 */
void USB_Device${idCamelCase}$Task(void);

#endif /* __USB_DEVICE_${idSnakeCase}$_H__ */